.full-slider-section{}

.fs-list{}
.fs-item{

  &[data-slide="1"]{
    background: url('../../build/imgs/slider.jpg') no-repeat center/cover;
  }

  &[data-slide="2"]{
    background: url('../../build/imgs/slider2.jpg') no-repeat center/cover;
  }

  &[data-slide="3"]{
    background: url('../../build/imgs/slider3.jpg') no-repeat center/cover;
  }
}
.fs-item-wrapper{
  background: rgba(0, 0, 0, .5);
}
.fs-item-content{
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: $main-font-color-invert;
}

.fs-item-title{

}
.fs-item-text{
  margin: 35px 0 30px;
  text-align: center;

}
.fs-item-action{
  padding: 18px 55px;
  font-size: 16px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  border: 1px solid $main-font-color-invert;
  border-radius: 20px;
  background: $main-font-color;
  transition: all .2s;

  &:hover{
    background: lighten($main-font-color, 20%);
  }
}
.slick-dotted.slick-slider{
  margin-bottom: 0;
}

.slick-dots{
  bottom: 18px;
  z-index:2;

  li > button{
    background-color: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;

    &:before{
      content: '';
    }
  }

  li.slick-active > button{
    background-color: $main-font-color;
  }
}

.fs-controls{
  display: none;
}

.open-popup-btn{
  padding: 15px 50px;
  font-weight: 900;
  align-self: center;
  border: 1px solid $main-font-color-invert;
  border-radius: 15px;
  background-color: $main-font-color;
  text-transform: uppercase;
}

.popup-wrapper{
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);

  &.active{
    display: flex;
  }
}
.popup-block{
  position: relative;
  width: 100%;
  padding: 40px 10px;
  text-align: center;
  background-color: $main-font-color-invert;
}

.popup-close{
  position: absolute;
  right: 15px;
  top: 15px;
  background: none;
  border: none
}
.popup-title{
  margin-bottom: 45px;
}
.popup-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popup-form-name, .popup-form-email{
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $main-font-color;
  border-radius: 5px;
}
.popup-form-btn{
  padding: 17px 50px;
  align-self: center;
  background-color: $main-font-color;
  border-radius: 15px;
  border: none;
  text-transform: uppercase;
  color: $main-font-color-invert;

  &:hover{
    background-color: lighten($main-font-color, 20%);
  }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .fs-item-content{
    height: 680px;
  }
  .fs-item-title{
    font-size: 45px;
  }

  .fs-controls{
    position: relative;
    display: block;
  }

  .fs-prev-arrow, .fs-next-arrow{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -340px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $main-font-color-invert;
    border-radius: 50%;
    background-color: transparent;
    transition: all .2s;

    svg{
      width: 15px;
      fill: $main-font-color-invert;
      transition: all .2s;
    }

    &:hover svg{
      fill: $main-font-color;
    }
    &:hover{
      background-color: $main-font-color-invert;
    }
  }

  .fs-prev-arrow{
    transform: translateY(-50%) rotate(180deg);
    left: 0;
  }

  .fs-next-arrow{
    right: 0;
  }

  .popup-block{
    max-width: 570px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .fs-item-content{
    height: 570px;
  }
  .fs-item-title{
    font-size: 75px;
  }
  .fs-prev-arrow, .fs-next-arrow{
    top: -285px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}